#bg {
height: 100%;
background-color: brown;
margin: 0 auto;
}

h1 {
color:black;

}
html{
margin: 50px;
padding: 50px;
}
.shop{
    position: absolute;
  top: 25%;
  right: 37%;
  width: 20%;
  text-align: center;
  font-size: 18px;
    background-color: #ffffff;
    border: 1px solid black;

    font-weight: bold;
    background: rgba(82,136,217,.5);
}


#kontener {
background-repeat: no-repeat;
background-size: auto;
background-attachment: fixed;
background-position: center;
background-image: url("shopimage.jpg");
width: 960px; height: 100%; margin: 0 auto;

}
.menu {
width: 100%; min-height: 100%; background: red;
color: orange;
}


.all {
	padding: 0 350px; /* padding = długość lewych paneli */
	min-width: 460px  /* minimalna długość środka */
}
.main {
	position: relative;
	bottom: -20px;
	float: left;
	overflow: hidden;
	width: 50%


}
.main2 {
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%

}
.left {
	position: relative;
	float: left;
	width: 230px;
	right: 230px;
	margin-left: -100%;


}
.right {
	position: relative;
	float: right;
	width: 230px;
	margin-right: -260px;
	padding: 0 20px
}
