{% load static %}
<html lang="en">
<head>
  <title>ShopFantasy</title>

  <link rel="stylesheet" type="text/css" href="{% static "/polls/style.css"%}">
<style type=text/css>

a {
text-decoration: none;
}

a:link{color:white;}
a:visited{color:white;}
a:hover{font-size:150%;}
</style>
</head>
<body id='bg'>
<div id="kontener">
  <div class="all">
    <div class="main" style="padding: 20px">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="left"><h2>SHOP FANTASY</h2></div>
    <div class="right"><h3>Logout</h3></div>
  </div>
  <div style="clear:both"></div>
  <div class="menu" style="width:200px; float:left;">
    <h3> MENU </h3>
    {% for cat in category %}
      <p><a href = "/category/{{ cat.id }}">{{ cat.name }} </a></p>
    {% endfor %}
  </div>
  <div class="shop">

    {% block item %}  {% endblock item %}

  </div>
  <div style="clear:both"></div>
</div>
</body>
</html>