{% load static %}
<html lang="en">
<head>
  <title>ShopFantasy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static "/polls/style.css"%}">
  <style type=text/css>


a:link{color:white;}
a:visited{color:white;}
a:hover{font-size:150%;
text-decoration: none;}

a.home {
color: orange;
}

a.home:hover{font-size:100%;}

a.login {
color: black; text-decoration: none;
}
a.login:visited{color:black;}
a.login:hover{color:green}
a.login:hover{font-size:100%;}

a.register:link{color:black}
a.register:visited{color:black;}
a.register:hover{color:green}
a.register:hover{font-size:100%;}

a.logout:link{color:black}
a.logout:visited{color:black;}
a.logout:hover{color:green}
a.logout:hover{font-size:100%;}

li:hover {
font-size:100%;
}


  </style>
</head>
<body id='bg'>
<div id="kontener">
  <div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light style=" background-color:brown">
  <a class="home" href='http://127.0.0.1:8000/'><h2>SHOP FANTASY</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="logout" href="#"><h3>Home</h3> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <h3>Hello {{request.user}}</h3>
      {% else %}
        <a class="register" href='http://127.0.0.1:8000/register/'><h3>Register</h3></a>
      {% endif %}
      </li>
      <li class="nav-item">
        <button id="cart" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
        sagittis lacus vel augue laoreet rutrum faucibus.">
          Cart(0)
        </button>
      </li>
      <div class="main">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <form class="example" action="/search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a class="logout" href="{% url 'logout' %}"><h3>Logout</h3></a>
      {% else %}
        <a class="login" href='http://127.0.0.1:8000/login/'><h3>Login</h3></a>
      {% endif %}
      </li>
    </ul>
  </div>
</nav>

  <div style="clear:both"></div>
  <div class="menu" style="width:200px; float:left;">
    <h3> MENU </h3>
    {% for cat in category %}
      <p><a href = "/category/{{ cat.id }}">{{ cat.name }} </a></p>
    {% endfor %}
  </div>
  <div class="shop">

    {% block item %}  {% endblock item %}

  </div>
  <div style="clear:both"></div>
</div>
</body>
<script type="text/javascript">
    console.log('This is working');

    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click','.atc', function(){
        console.log("The add to cart button is clicked");
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id] != undefined){
            cart[item_id] = cart[item_id] + 1;
        }
        else{
            cart[item_id] = 1
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart").innerHTML = "Cart(" + Object.keys(cart).length + ")";


    });
    $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
</html>